.section_left{
    min-height: 100%;
    position: fixed;
}

.section_right {
    position: fixed;
    min-height: 100%;
    margin-left: 50%;
}

#logo{
    text-align: center;
    margin-top: 30px;
}

.titulo{
    font-family: 'Pridi', serif;
    color: #2d67d7;
    font-size: 50px;
    margin-top: 40px;

}

.subtitulo{
    font-family: 'Didact Gothic', sans-serif;
    color: #7b7b7b;
    font-size: 20px;
}

input{
    margin-bottom: 20px;
    margin-left: 25%;
    width: 50%;
}

#btn-baixar{
    font-family: 'Didact Gothic', sans-serif;
    background-color: #ffa00a;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-left: 40%;
    width: 30%;
}


.banner-fundo{
    background-image: url("../images/LP_BG.png");    
    
}