

#logo{
    text-align: center;
    margin-top: 30px;
}

.titulo{
    font-family: 'Pridi', serif;
    color: #2d67d7;
    font-size: 50px;
    margin-top: 40px;

}

.subtitulo{
    font-family: 'Didact Gothic', sans-serif;
    color: #000000;
    font-size: 20px;
}

input{
    margin-bottom: 20px;
    margin-left: 25%;
    width: 50%;
}

.btn-baixar{
    font-family: 'Didact Gothic', sans-serif;
    background-color: #ffa00a;
    color: #fff;
    text-transform: uppercase;
   
    /* margin-left: 40%; */
    /* width: 30%; */
}


.banner-fundo{
    position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  height: 100vh;
  /* width: ; */
  z-index: -999999;

    background-image: url("../images/LP_BG.png"); 
      background-size: contain;
   
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  

}

    