.placeholder{color: #6C757D;}
select option:first-child{color: #6C757D; display: none;}
select option{color: #6C757D;}


* {
    font-family: 'Roboto Slab', serif !important; 
}

H1, H2, H3 {
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: bold !important;
}



input[type="submit"] {
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: bold !important;
}

input#node{
    background-image:url();
    background-repeat:no-repeat;
    background-position:6px;
    border:1px solid #DADADA;
    margin-top:10px;
    margin-bottom:10px;
    padding-left:35px;
    width:310px;
    height:30px;
    font-size:14px;
    box-shadow:0 0 10px;
    -webkit-box-shadow:0 0 10px;
    /* For I.E */
    -moz-box-shadow:0 0 10px;
    /* For Mozilla Web Browser */
    border-radius:5px;
    -webkit-border-radius:5px;
    /* For I.E */
    -moz-border-radius:5px
    /* For Mozilla Web Browser */
    }

.grid-imag{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(2,1fr);

    height: 100vh;
    
}
.img-background{
    grid-column: 1/5;
    grid-row: 1/5;
    z-index: -1;
    background-image: url(../images/Topo.jpg);
   
    background-blend-mode: overlay;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(85%) blur(2px);
    color: #fff;
    overflow: hidden;

}
.header-conteudo{
    grid-column: 2/4;
    grid-row: 1/3;

    background-size: cover;
    overflow: hidden;
    text-align: center;
    color: white;

}

.grid-form-leads{
    display: grid;
    grid-template-columns: 0.5fr 0.6fr minmax(120px, 1fr) 0.5fr;
    grid-template-rows:  0.1fr 1fr 0.1fr;
    grid-gap: 1rem;
    
}


.form-nome-email{
    grid-column: 2/2;
    grid-row: 2/2;
    align-self: center;
}

.form-leads-img{
    grid-column: 3/4;
    grid-row: 2/2;
    width: 100%;
    margin-left: 3rem;
}


.btn-img-size {     
      width: 12.5rem;
       height: 12.5rem;
}

.btn-center{
    align-items: center;
}

input, select{
    border-radius: 1rem !important;
    margin-bottom: 2px;
}

input[type=checkbox], input[type=radio] {
    opacity: 0;
}


.selected {
    background-color: #ccc;

}

.primeiro-bloco{
    background: white;

}
.segundo-bloco{
    background-color:rgba(223, 226, 230, 0.5) ;

}
.terceiro-bloco{
    background-color:rgb(255, 255, 255) ;
}
.quarto-bloco{
    background-color: #1C4360 ;

}
.quarto-bloco .titulo{
    text-align: center;
    color:white;
}


footer{
    text-align: center;
 
 }

 .img-send, p, h5 {
     display: block;
     margin: 0 auto;
     color: #fff !important;
 }

 .btn-inicio {
     margin-top: 10px;
 }

 h5 {
     font-weight: bold;
 }

 .modal-send {
     background-color: #1C4360;
     text-align: center;
 }

 .modal-buttom {
     margin-top: 15px;
 }

 .face-buttom {
    width: 199px; 
    font-size: 1.8vh;
    margin: 5px 0;
    border-radius: 50px;
    padding-left: 48px;
    border: 0;
 }


 .twitter-buttom {
     width: 199px;
     font-size: 1.8vh;
     border-radius: 50px;
     padding-left: 48px !important; 
     border: 0;
 }

 .face-buttom > a > i {
    border: 0px;
}

 .twitter-buttom i {
    border: 0px;
 }

 .btn-enviar {
    color: #60B769;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 0.2rem 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
 }
/*____________________________________________________________________*/
/*             tela media             768px*/
 
 @media( max-width: 300px){
    .btn-img-size {
        width: 7.5rem;
        height: 8.5rem;
 
    }

    .img-size-default {
        max-width: 100%;
        max-height: 100%;
    }
    .header-conteudo h1{
        font-size: 1.3rem;
    }
    
    

 }
/*____________________________________________________________________*/
/*             tela media             768px*/
@media( max-width: 768px){
    .grid-imag{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: repeat(2,1fr);

  
    
    height: 100vh;
 
}
/*
.img-background{
    grid-column: 1/;
    grid-row: 1/5;
    z-index: -1;
}
*/
    .header-conteudo{
        letter-spacing: 0.3
        

    }

    .header-conteudo h1{
        font-size: 1.5rem;
    }
    .grid-form-leads{
        display: grid;
        grid-template-columns: 0.3fr  1fr 0.3fr;
        grid-template-rows:  1fr;
        grid-gap: 1rem;
        
        
    }


    .form-nome-email{
        grid-column: 2/3;
        grid-row: 1/1;
        align-self: center;
    }

    .form-leads-img{
        z-index: -1;
        grid-column: 1/4;
        grid-row: 1/1;
        width: 100%;
        margin-left: 0px;
    }
    .title-perguntas {
        color: rgba(12, 4, 4, 0.693);
        font-size: 4vh;
        font-weight: bold;
    }

    .img-body{
        display: none;
    }

    
/*    ______________________*/
    
    
    
    
    
    .titulo, .sub-titulo{
        color: white;
        text-align: center;
        margin: 0px;

    }
    .btn-img-size {
        width: 8.5rem;
        height: 10.5rem;
    }

       .titulo {
           font-size: 2rem;
       }

       .img-size-default {
           max-width: 100%;
           max-height: 100%;
       }

    .primeiro-bloco, .segundo-bloco, .terceiro-bloco, .quarto-bloco{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .conteudo-bloco-preimeiro, .conteudo-bloco-terceiro, .conteudo-bloco-quarto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-nome-email, .form-problemas{
        display: flex;
        flex-direction: column;
/*        align-items: center;*/
        width: 100%;

    }
    .divx-50{
        width: 100%;
    }

    .segundo-bloco{
        display: flex;
        flex-direction: column;
        background-color:rgba(223, 226, 230, 0.5) ;

    }
    .terceiro-bloco{
        display: flex;
        flex-direction: column;
        background-color:rgb(255, 255, 255) ;
    }
    .quarto-bloco{
        display: flex;
        flex-direction: column;
        background-color:rgba(28, 67, 96,0.9) ;

    }
    .quarto-bloco .titulo{
        text-align: center;
        color:white;
    }

}


