

.placeholder{color: #6C757D;}
select option:first-child{color: #6C757D; display: none;}
select option{color: #6C757D;}

input#node{
    background-image:url();
    background-repeat:no-repeat;
    background-position:6px;
    border:1px solid #DADADA;
    margin-top:10px;
    margin-bottom:10px;
    padding-left:35px;
    width:310px;
    height:30px;
    font-size:14px;
    box-shadow:0 0 10px;
    -webkit-box-shadow:0 0 10px;
    /* For I.E */
    -moz-box-shadow:0 0 10px;
    /* For Mozilla Web Browser */
    border-radius:5px;
    -webkit-border-radius:5px;
    /* For I.E */
    -moz-border-radius:5px
    /* For Mozilla Web Browser */
    }


.grid-imag{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(2,1fr);

    height: 100vh;
    width: 100%;

}
.img-background{
    grid-column: 1/5;
    grid-row: 1/5;
    z-index: -1;
    background-image: url(../images/Topo.jpg);
   
    background-blend-mode: overlay;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(85%) blur(2px);
    color: #fff;
    overflow: hidden;





}
.header-conteudo{
    grid-column: 2/4;
    grid-row: 1/3;

    background-size: cover;
    overflow: hidden;
    text-align: center;

}



.img-publico-alvo{
    width:12.5rem;
    height: 12.5rem;

}


.divx-50 {
    width: 50%;
}



.btn-img-size {     /* mudar para tamanhos diferente */
      width: 12.5rem;
       height: 12.5rem;
}

.btn-center{
    align-items: center;
}

input, select{
    border-radius: 1rem !important;
    margin-bottom: 2px;
}

input[type=checkbox], input[type=radio] {
    opacity: 0;
}



.titulo, .sub-titulo{
    color: white;
   }

.selected {
    background-color: #ccc;

}

.primeiro-bloco{
    background: white;

}
.segundo-bloco{
    background-color:rgba(223, 226, 230, 0.5) ;

}
.terceiro-bloco{
    background-color:rgb(255, 255, 255) ;
}
.quarto-bloco{
    background-color:rgba(28, 67, 96,0.9) ;

}
.quarto-bloco .titulo{
    text-align: center;
    color:white;
}


.img-size-default {
    width: 368px !important;
    height: 210px !important;
}




footer{
    text-align: center;
 
 }
 .btn-enviar {
    color: #81e898;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 0.2rem 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
 }
/*____________________________________________________________________*/
/*             tela media             768px*/
 
 @media( max-width: 300px){
    .btn-img-size {
        width: 7.5rem;
        height: 8.5rem;
 
    }

    .img-size-default {
        max-width: 100%;
        max-height: 100%;
    }
    .header-conteudo h1{
        font-size: 1.3rem;
    }
 }
/*____________________________________________________________________*/
/*             tela media             768px*/
@media( max-width: 768px){
    .grid-imag{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-rows: repeat(2,1fr);

  
    
    height: 100vh;
 
}
/*
.img-background{
    grid-column: 1/;
    grid-row: 1/5;
    z-index: -1;
}
*/
.header-conteudo{
/*    grid-column-start: 1;*/
/*    grid-row: 1/3;*/
    text-align: justify;
    letter-spacing: 0.3
    

}

.header-conteudo h1{
    font-size: 1.5rem;
}
    
/*    ______________________*/
    
    
    
    
    
    .titulo, .sub-titulo{
        color: white;
        text-align: center;
        margin: 0px;

    }
    .btn-img-size {
        width: 8.5rem;
        height: 10.5rem;
    }

       .titulo {
           font-size: 2rem;
       }

       .img-size-default {
           max-width: 100%;
           max-height: 100%;
       }

    .primeiro-bloco, .segundo-bloco, .terceiro-bloco, .quarto-bloco{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .conteudo-bloco-preimeiro, .conteudo-bloco-segundo, .conteudo-bloco-terceiro, .conteudo-bloco-quarto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-nome-email, .form-problemas{
        display: flex;
        flex-direction: column;
/*        align-items: center;*/
        width: 100%;

    }
    .divx-50{
        width: 100%;
    }

    .segundo-bloco{
        display: flex;
        flex-direction: column;
        background-color:rgba(223, 226, 230, 0.5) ;

    }
    .terceiro-bloco{
        display: flex;
        flex-direction: column;
        background-color:rgb(255, 255, 255) ;
    }
    .quarto-bloco{
        display: flex;
        flex-direction: column;
        background-color:rgba(28, 67, 96,0.9) ;

    }
    .quarto-bloco .titulo{
        text-align: center;
        color:white;
    }

}


