
html, body {
    background:  rgb(243, 236, 236);

}

header {
    
    background: url(../images/header.jpg) center center;
    background-color: aquamarine;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    color: #fff;
  
    
}

.header-cap {
    font-size: 3.5rem;
}

.divx-50 {
    width: 50%;
}


.img-auto {
    max-width: 440px;
    width: auto;
}


    


/* .image-radio input[type=radio] {
    display: none;
  }
  .image-radio input[type=radio] + label {
    background: asset-url("icons/choice-unchecked.svg") no-repeat left;
    padding-left: 2rem;
  }
  .image-radio input[type=radio]:checked + label {
    background: asset-url("icons/choice-checked.svg") no-repeat left;
  }
  
   */


.selected {
    background-color: #ccc;
}

